@font-face {
    font-family: 'ZenTokyo';
    src: url('fonts2/ZenTokyoZoo-Regular.ttf');
   
}
@font-face {
    font-family: 'playfair-Bold';
    src: url('fonts2/PlayfairDisplay-BlackItalic.ttf');
}
@font-face {
    font-family: 'playfair';
    src: url('fonts2/PlayfairDisplay-Italic.ttf');
}

 body{
     padding: 0;
    margin: 0; 
    text-align: center;
}
p{
    color:#BC83A3;
    font-size: 20px;
    text-align: left;
    margin: 0 90px;
    font-family: playfair;
    line-height: 23px;
    letter-spacing: 1px;
}
/* header */
h1{
    height: 200px;
    width: 100%;
    background-image: url(./bk2.jpeg);
    background-position: center;
    text-align: center;
    background-size: cover;
    padding: 50px 0;
    margin-top: 0;
    color:azure;
    position:relative;
    top:44px;
    font-family: ZenTokyo;
    font-size: 100px;


}

nav{
    background-color: #477AA5;
    color:#F4ABB7; 
    width: 100%;
    position: fixed;
    height: 65px;
    z-index: 1;
    top: 0px;
    padding: 0 0 10px 0;
    
}
nav ul{
    margin: 0;
    padding: 20px 0;
  
}
    

li a {
    color:#F4ABB7;
    text-decoration: none;
    
}
nav li{
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 288px;
    font-size: 25px;
    overflow: scroll;
    font-family: 'Encode Sans SC', sans-serif;
}


code{
    background-color: #415d74;
    color:#fddee3;
    font-size: 20px;
    font-family: 'Encode Sans Expanded', sans-serif;
}
.block{
    background-color: #415d74;
    text-align: left;
    width: 400px;
    margin: 10px 90px;
    padding: 10px;

}

/* box model  */


#boxModel p{
    text-align: center;

}
tr .code {
    background-color: #415d74;
    text-align: left;
}


/* #boxModel  */
h2{
    color:#BC83A3;
    font-size: 40px;
    font-family: playfair-Bold, Arial, Helvetica, sans-serif;
}


/* box model imag */
#margin{
    padding: 0 30px 30px 30px;
    border: 10px #477AA5 dashed;
    width: 700px;
    height: 500px;
    margin:10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  

}
#border{
    padding: 0 30px 30px 30px;
    border:1px #9898Bc solid;
    width:620px;
    height: 370px;
    background-color:#9799BA ;
    margin:10px;

   
}
#padding{
    padding: 2px 30px 30px 50px;
    background-color: #BC83A3;
    width: 540px;
    height: 260px;
    

}
#content{
    padding: 60px 30px 0px 30px;
    background-color: #F4ABB7;
    width: 450px;
    height:130px;
    text-align:center;
}


h3{
    text-align:center;

}
table tr th, td {
color:#477AA5;
background-color: #fddee3;
font-size: 20px;
text-align: justify;
border: none;
letter-spacing: 1px;

}
table tr th{
    font-family: playfair-Bold, Arial, Helvetica, sans-serif;
}
table tr td{
    font-family: playfair;
    font-style: normal;
}
table{
    margin: 50px;
}
/* end  */



/* display & position  */
#display{
    
top: 40px;
}

 th, tr, td{

    border: 1px solid black;
    padding:10px;

   
}

/* end */

/* color */
.light-pink {
    background-color: hsl(351, 100%, 86%);
    height: 20px;
    width: 20px;
    margin: 10px 90px;
    
  }

  #typo code{
      text-align: left;
      
  }
  
  /* end */
  .block{
      position:sticky;
  }

  /* footer */
  footer{
      height: 75px;
      width: auto;
      background-color: #477AA5;
      font-size: 20px;
      
      
    
  }
footer p{
    color:#F4ABB7; 
    font-size: 25px;
    text-align: right;
    padding: 20px 0;
   float: left;
   font-family: 'Encode Sans Expanded', sans-serif;

}
.left{
 text-align: left;  
 font-family: 'Encode Sans Expanded', sans-serif;
 
}
footer a {
    text-decoration: none;
    color:#F4ABB7; 

}