
/* header */
 body{
     padding: 0;
    margin: 0; 
    /* text-align: center; */
}

h1{
    height: 150px;
    width: 100%;
    background-image: url(./bk2.jpeg);
    background-position: center;
    text-align: center;
    background-size: cover;
    padding-top: 40px;
    color:azure;
    position:relative;
    top:44px;


}

nav{
    background-color: #477AA5;
    color:#F4ABB7; 
    width: 100%;
    position: fixed;
    height: 65px;
    z-index: 1;
    top: 0px;
 
    
    
 
}
nav ul{
    margin: 0;
    padding: 10px;
  
}
    

li a {
    color:#F4ABB7;
    text-decoration: none;
    
}
nav li{
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 288px;
    background-color: #477AA5;
    height: 50px;
    font-size: 25px;
}



/* box model imag */
#boxModel h2{
    color:#BC83A3;
    font-size: 40px;
}

#margin{
    padding: 0 30px 30px 30px;
    border: 10px #477AA5 dashed;
    width: 700px;
    height: 500px;
    margin:10px;

    

}
#border{
    padding: 0 30px 30px 30px;
    border:1px #9898Bc solid;
    width:620px;
    height: 370px;
    background-color:#9799BA ;
    margin:10px;

   
}
#padding{
    padding: 2px 30px 30px 50px;
    background-color: #BC83A3;
    width: 540px;
    height: 260px;
    

}
#content{
    padding: 60px 30px 0px 30px;
    background-color: #F4ABB7;
    width: 450px;
    height:130px;
    text-align:center;
}


h3{
    text-align:center;
}
/* end  */








/* display & position  */

 th, tr, td{

    border: 1px solid black;
    padding:10px;

   
}

/* end */